# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# OS / editor junk
.DS_Store
Thumbs.db

# Runs / artifacts
lab_runs/
bench_runs/
*.log
*.zip

# LaTeX build artifacts
*.aux
*.out
*.bbl
*.blg

# PDFs (si quieres versionar el paper, exceptúa main.pdf)
*.pdf
!main.pdf

# Env vars
.env
